server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /etc/promtail/config.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: webapp
    static_configs:
      - targets:
          - localhost
        labels:
          job: webapp
          webapp: varlogs
          __path__: /var/log
